@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    color:white
   
}

.parent{
   background-color: #000;
   height: 100%;
   width: 100%;
  
}
.nav{
    padding: 0 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-mid{
    display: flex;
   gap: 20px;
    align-items: center;
}
.nav-mid h3{
    text-transform: uppercase;
}
.logo{
    height: 55px;
    object-fit: contain;
}
button{
    margin-left: 20px;
    height:55px;
    font-weight:700
}
.hero{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}
.hero h2{
    font-size: 85px;
    font-weight: 900;
    letter-spacing: 3px;
}
h2 span{
    padding: 0 20px;
    background-color: rgb(187, 62, 62);
    border-radius: 20px;
}
.decoration1{
    height: 10px;
    width:300px;
    background-color: rgb(237, 150, 118);
    position: absolute;
    top: 250px;
    margin-left: 50px;
    border-radius: 5px;
}
.decoration2{
    height: 10px;
    width:300px;
    background-color: rgb(132, 197, 137);
    position: absolute;
    top: 750px;
    margin-left: 80%;
    border-radius: 5px;
}
.scroll-up{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50px);
}